:root{

    --ff-primary: "Barlow Semi Condensed", sans-serif;

    --fw-500: 500;
    --fw-600: 600;
  
    --fs-300: 0.6875rem;
    --fs-400: 0.8125rem;
    --fs-500: 1.25rem;
    --fc-1:var(--Light-grayish-blue);
    --fc-2:var(--dark-grayish-blue);

    --fc-p1:var( --dark-blackish-blue);
    --fc-p2:var(
        --white
    )

}